<div class="simple-calendar">
  <div class="calendar-heading text-center p-2 mb-4" style="background-color: #f8f9fa; border-radius: 5px;">
    <%= link_to t('simple_calendar.previous', default: '前週'), calendar.url_for_previous_view, class: 'btn btn-sm btn-outline-primary' %>
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %></span>
    <% else %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %> - <%= calendar.end_week %></span>
    <% end %>
    <%= link_to t('simple_calendar.next', default: '翌週'), calendar.url_for_next_view, class: 'btn btn-sm btn-outline-primary' %>
  </div>

  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th></th>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <th></th>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day), style: "vertical-align: top; padding: 10px;" do %>
              <div>
                <strong><%= day.day %></strong>
                <ul class="list-unstyled">
                  <% sorted_events.fetch(day, []).each do |reservation| %>
                    <!--<li style="background-color: #fff3cd; border-radius: 5px; padding: 5px; margin-top: 5px;">-->
                      <!--時間: %= reservation.time %> - 予約者: %= reservation.user.name %>-->
                    <!--</li>-->
                  <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>
        </tr>
        <% times.each do |time| %>
          <tr>
            <td><%= time %></td>
            <% week.each do |day| %>
              <td>
                <% if check_reservation(@reservations, day, time) %>
                  <%= content_tag :span, '✖️', style: "color: red;" %>
                <% else %>
                  <%= link_to new_reservation_path(day: day, time: time), style: "text-decoration: none;" do %>
                    <span style="color: green;">◯</span>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
